---
import Header from "@/components/Header.astro";
import MainSection from "@/components/body/MainSection.astro";
import "@/styles/main.css";

const keywords_array = [
	"portafolio",
	"agustin",
	"desarrollador",
	"web",
	"mobile",
	"javascript",
	"typescript",
	"react",
	"node",
	"express",
	"sql",
	"mysql",
	"postgres",
	"html",
	"css",
	"sass",
	"tailwind",
	"astro",
	"angular",
	"laravel",
	"php",
	"wordpress",
	"shopify",
	"prestashop",
];

const keywords = keywords_array.join(", ");
const image = "/img/thumbnail.png";
const title = "Agustin Mita - Portafolio";
const author = "Agustin Mita";
const description = "Portafolio de Agustin Mita, desarrollador web";
const url = "https://agustin-ryo.netlify.app/";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{title}</title>

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- Generamos seo tags  -->
		<meta name="description" content={description} />
		<meta name="keywords" content={keywords} />
		<meta name="author" content={author} />
		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />


		<!-- meta image -->
		<meta property="og:image" content={image} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:author" content={author} />
		<meta property="og:image:width" content="1200" />
		<meta property="og:image:height" content="630" />
		<meta property="og:image:type" content="image/png" />
		<meta property="og:image:alt" content={title} />
		<meta property="og:url" content={url} />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content={title} />
		<meta property="og:locale" content="es_ES" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={image} />
		<meta name="twitter:image:alt" content={title} />
		<meta name="twitter:url" content={url} />
		<meta name="twitter:creator" content={author} />
		<meta name="twitter:site" content={author} />
		
	</head>
	<body>
		<Header />
		<MainSection />
	</body>
</html>
