---
import Popover from "@/components/tools/Popover.astro";

interface Props {
  image: string;
  icons: IconBasic[];
  alt: string;
}

const { image, icons, alt } = Astro.props;
---

<div class="bg-white bg-opacity-10 backdrop-filter backdrop-blur-lg rounded-xl p-6 shadow-lg flex items-center justify-center relative">
    <img src={image} alt={alt} class="rounded-full size-80 object-cover" loading="lazy"/>
    <div class="grid-skills">
        <div class="grid-icons grid grid-cols-3 gap-4 absolute bottom-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
            {icons.map((icon) => (
                <Popover name={icon.name} icon={icon.icon} link={icon.link} />
            ))}
        </div>
    </div>
</div>